@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Source+Code+Pro');
html {
	box-sizing: border-box;
}

body { 
	min-height: 100vh;
    background: url("../images/background.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

h3 {
	margin: 20px 0px 10px 0px;
	letter-spacing: 3px;
}

.header {
	padding: 70px 0px 0px 0px;
	color: grey;
}

h1, h3, #magicNumber, #totalScore, #wins, #losses, .score {
    color: rgb(138, 9, 138);
    font-family: 'Bowlby One SC', cursive;
}

h1 {
	color: black;
	margin: 55px 0px 75px 0px;
	letter-spacing: 12px;
}

.charimg {
	width: 150px;
	margin: 30px auto;
}

.directions {
	color:black;
	text-align: center;
    padding: 20px 85px;
    font-family: 'Source Code Pro', monospace;
}

.score {
	padding-top: 30px;
	margin-bottom: 0;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 3px;
}

/*.directions {
	
}*/

#winOrLose {
	color: white;
}

.total, .scores, .directions {
	margin: auto;
}

.btn {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	color: #a182bc;
	letter-spacing: 3px;
}



